body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
}
.card {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}